.albums-component {
  .album-list {
    .year {
      overflow: hidden;
      position: relative;

      > header {
        margin-top: 50px;
        height: 100px;
        text-align: center;

        .content.sticky {
          position: fixed;
          top: 0px;
          width: 100%;
          padding: 10px;

          background-color: #fff;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3px);
          z-index: 999;

          h1 {
            display: inline;
            font-size: $font-size-root;
            margin-right: 0.5em;
          }
        }
      }

      .albums {
        padding: 0 20px;
        @include make-row();

        .album {
          width: 100%;
          height: 100%;
          margin-bottom: 20px;

          a {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
          }

          .image {
            width: 100%;
            height: 0;
            padding-bottom: 67%;
            background-size: cover;
          }

          .overlay {
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;

            background: linear-gradient( to bottom, transparent 60%, rgba(0, 0, 0, 0.4) );
            transition: opacity 0.25s ease;
            opacity: 1;
          }

          a:hover {
            .overlay {
              transition: opacity 0.5s ease;
              opacity: 0;
            }
          }

          header {
            position: absolute;
            bottom: 20px;
            left: 20px;
            right: 20px;
            color: #fff;
          }

          @include media-breakpoint-up(md) {
            @include make-col();
            @include make-col-span(6);

            @include media-breakpoint-up(lg) {
              @include make-col-span(4);
            }
          }
        }
      }
    }
  }
}
