.items-component {
  .item-list {
    .date {
      overflow: hidden;
      position: relative;

      > header {
        margin-top: 50px;
        height: 100px;
        text-align: center;

        .content.sticky {
          position: fixed;
          top: 0px;
          width: 100%;
          padding: 10px;

          background-color: #fff;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3px);
          z-index: 999;

          h1 {
            display: inline;
            font-size: $font-size-root;
            margin-right: 0.5em;
          }
        }
      }

      .items {
        margin: 20px;

        .item {
          float: left;
          width: 100%;
          height: 100%;
          padding: 5px;

          a {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
          }

          .image {
            width: 100%;
            height: 100%;
            background-size: cover;
          }
        }
      }
    }
  }
}
