.item-component {
  #item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #111;

    img {
      transition: 0.2s linear -webkit-filter, 0.2s linear filter;
      -webkit-filter: blur(0px);
      filter: blur(0px);
    }
  }

  &.overlay {
    #item {
      img {
        -webkit-filter: blur(3px);
        filter: blur(3px);
      }
    }
  }
}
